<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.slime.dao.mapper.administartorMapper">

<!--    需要测试-->
    <select id="loginIn" resultType="com.slime.pojo.Administrator">
        select * from secondhand.administrator
        where adminName = #{adminName} and adminPass = #{password}
    </select>

</mapper>