<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.slime.dao.mapper.storeMappers.storeOrderSearchMapper">

<!--    还没测试-->

    <select id="getAllStoreDealing" resultType="com.slime.pojo.Dealing">
        select * from secondhand.dealing where StoreID = #{storeID}
    </select>

    <select id="getStoreID" resultType="java.lang.Integer">
        select storeID from secondhand.storetable where storeName = #{storeName}
    </select>

    <select id="getStoreDealingCount" resultType="java.lang.Integer">
        select amout from secondhand.dealing where StoreID = #{storeID}
    </select>

    <select id="getStoreDealingUserAddress" resultType="java.lang.String">
        select Address from secondhand.dealing where StoreID = #{storeID} and dealID = #{dealID}
    </select>

</mapper>