<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.slime.dao.mapper.UserMappers.UserOrderSearchMapper">

    <select id="getAllUserdealing" resultType="com.slime.pojo.Dealing">
        select * from secondhand.dealing where userID = #{userID}
    </select>
    
    <select id="getUserID" resultType="java.lang.Integer">
        select userID from secondhand.usertable where userName = #{userName}
    </select>
    
    <update id="updateDealing">
        update secondhand.dealing
        set Address = #{Address}
        where userID = #{userID}
    </update>

    <insert id="addDealing" parameterType="com.slime.pojo.Dealing">
        insert into secondhand.dealing
            (isSuccessfulDeal,dealTime, amout, finalPrice, Address, GoodsID, StoreID, userID)
        VALUES
            (#{isSuccessfulDeal},#{dealTime},#{amout},#{finalPrice},#{Address},#{GoodsID},#{StoreID},#{userID})
    </insert>

    <delete id="deleteIndexDealing">
        delete from secondhand.dealing
        where dealID = #{dealID} and userID = #{userID}
    </delete>

    <delete id="deleteAllDealing">
        delete from secondhand.dealing
        where userID = #{userID}
    </delete>

    <select id="getUserDealingCount" resultType="java.lang.Integer">
        select count(0)
        from secondhand.dealing
        where userID = #{userID}
    </select>

    <select id="getGoodsById" resultType="com.slime.pojo.Goods">
        select * from secondhand.goodstable where goodsID = #{GoodsID}
    </select>

</mapper>